* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf);
    font-weight: bold;
}
.container {
    display: flex;
    height: 100vh;
    width: 1090px;
}

.left {
    background: url("./halie-west-25xggax4bSA-unsplash.jpg") no-repeat center center/cover;
    /* width: 500px;
    height: 800px; */
    /* height: 100vh; */
    width: 35%;
    font-family: 'Norse Bold';
}

.right {
    width: 65%;
    /* padding-left: 50px; */
    font-family: 'Roboto', sans-serif;
}

.form, .heading, .account {
    padding-left: 50px;
}

.heading {
    padding-top: 120px;
    padding-bottom: 60px;
    padding-right: 160px;
    font-weight: 500;
    font-size: 1.1rem;
}

.heading p {
    margin-top: 20px;
}

.heading p:first-child {
    margin-top: 0;
}

.form {
    /* border-top: 1px solid grey;
    border-bottom: 1px solid grey; */
    padding-bottom: 30px;
    padding-top: 20px;
    box-shadow: 0px 2px 5px grey;
    /* width: 100%; */
    /* padding-left: 40px; */
}
.form p {
    font-weight: 500;
}

form {
    /* width: 750px;     */
    padding-right: 165px;
    margin-top: 20px;
}

fieldset {
    /* padding: 20px 200px 30px 50px; */
    border: none;
    /* width: 70%;  */
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px 50px;
}

li {}

label {
    /* width: 150px; */
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.7rem;
    font-weight: 500;
}

input {
    height: 25px;
    border: 1px solid #e5e7eb;
    border-radius: 2px;
    padding: 0.5px 10px;
}

input[type=password]:invalid {
    border: 1px solid red;
}

.account {
    padding-top: 30px;
}

.account button {
    background-color: #596d48;
    color: white;
    padding: 10px 50px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px;
    font-family: 'Roboto';
}

.account p {
    margin-top: 35px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.1rem;
    font-family: 'Roboto';
}
.account a {
    text-decoration: none;
    color: #596d48;
    font-weight: 600;
}