* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 100vh;
    width: 1090px;
}
.left {
    background: url("./halie-west-25xggax4bSA-unsplash.jpg") no-repeat center center/cover;
    /* width: 500px;
    height: 800px; */
    /* height: 100vh; */
    width: 35%;
}
.right {
    width: 65%;
    /* padding-left: 50px; */
}
.form, .heading, .account {
    padding-left: 40px;
}
.heading {
    padding-top: 120px;
    padding-bottom: 60px;
    padding-right: 180px;
}
.heading p {
    margin-top: 20px;
}
.heading p:first-child {
    margin-top: 0;
}
.form {
border-top: 1px solid grey;
border-bottom: 1px solid grey;
padding-bottom: 30px;
padding-top: 20px;
/* width: 100%; */
/* padding-left: 40px; */
}
form {
    /* width: 750px;     */
    padding-right: 200px;
    margin-top: 20px;
}
fieldset {
    /* padding: 20px 200px 30px 50px; */
    border: none;
   /* width: 70%;  */
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px 50px;
}
li {

}
label {
    width: 120px;
    display: block;
}
.account {
    padding-top: 20px;
}
.account p {
    margin-top: 20px;
}